<template>
    <div class="container">
        <button type="submit" class="btn btn-info float-right" data-toggle="modal" data-target="#AddQuestionModal">New Question?</button>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h5>Answers:</h5>
                <!-- <a href="{{  route('index') }}" class="btn btn-info float-right">New Question?</a> -->
                <div v-for="question in questions" v-bind:key="question.id" class="card m-2">
                    <div class="card-body">
                        <p>{{question.id}}. {{question.dropdrawingpaye}}</p>
                    </div>
                    <button type="submit" class="btn btn-danger btn-block" @click="deleteQuestion(question.id)">Delete</button>
                    <button type="submit" class="btn btn-primary btn-block" @click="editQuestion(question)" data-toggle="modal" data-target="#exampleModal">Edit Answer</button>
                    <button type="submit" class="btn btn-warning btn-block" @click="exportPDF(question)">Download PDF</button>
                </div>
            </div>
        </div>

        <!-- Modal for Add Medicine -->
        <div class="modal fade" id="AddQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Answer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        <label for="dropdrawingpaye">Are you taking Drawings or Paye?</label>
                            <select class="form-control" v-model='question.dropdrawingpaye'>
                                <option v-for='payedrawing in payedrawings'>{{ payedrawing }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="business">Been in business in more than 3 years</label>
                                <select class="form-control" v-model='question.business'>
                                    <option v-for='business in businesses'>{{ business }}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="lengthofbusiness">How many years?</label>
                                <input v-model.number='question.lengthofbusiness' type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dropfulltime">Working full time?</label>
                                <select v-model='question.dropfulltime' class="form-control" id="sel1">
                                    <option v-for='dropfulltime in dropfulltimes'>{{ dropfulltime }}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="staffworking">How many staff do you have working for you?</label>
                                <input v-model.number='question.staffworking' type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ontools">Now, Are you on tools?</label>
                                <input v-model="question.ontools" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="shareholdersnotontools">Is there any other shareholder/director that are not on the tools?</label>
                                <input v-model="question.shareholdersnotontools" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="anualbnessincome">How much income did you take out last year from the business?</label>
                                <input v-model.number="question.anualbnessincome" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Acccover">What ACC cover plan do you have?</label>
                                <input v-model="question.Acccover" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="paymentfrequency">Payment Frequency</label>
                                <input v-model.number="question.paymentfrequency" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="extracoveramount">Your nominated Cover Plus Extra cover amount</label>
                                <input v-model.number="question.extracoveramount" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="formSubmit(question)" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal -->

        <!-- Modal for Edit Medicine -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Answer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                        <label for="dropdrawingpaye">Are you taking Drawings or Paye?</label>
                            <select class="form-control" v-model='question.dropdrawingpaye'>
                                <option v-for='payedrawing in payedrawings'>{{ payedrawing }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="business">Been in business in more than 3 years</label>
                                <select class="form-control" v-model='question.business'>
                                    <option v-for='business in businesses'>{{ business }}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="lengthofbusiness">How many years?</label>
                                <input v-model.number='question.lengthofbusiness' type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="dropfulltime">Working full time?</label>
                                <select v-model='question.dropfulltime' class="form-control" id="sel1">
                                    <option v-for='dropfulltime in dropfulltimes'>{{ dropfulltime }}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="staffworking">How many staff do you have working for you?</label>
                                <input v-model.number='question.staffworking' type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="ontools">Now, Are you on tools?</label>
                                <input v-model="question.ontools" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="shareholdersnotontools">Is there any other shareholder/director that are not on the tools?</label>
                                <input v-model="question.shareholdersnotontools" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="anualbnessincome">How much income did you take out last year from the business?</label>
                                <input v-model.number="question.anualbnessincome" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Acccover">What ACC cover plan do you have?</label>
                                <input v-model="question.Acccover" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="paymentfrequency">Payment Frequency</label>
                                <input v-model.number="question.paymentfrequency" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="extracoveramount">Your nominated Cover Plus Extra cover amount</label>
                                <input v-model.number="question.extracoveramount" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="doEdit(question)" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal -->
    </div>
</template>

<script>
import jsPDF from 'jspdf';

    export default {
        created() {
            console.log('Component mounted.')
            this.fetchQuestion();
        },
        data() {
            return {
                questions: [],
                question: {},
                payedrawings: [
                    'Drawiing/Shareholder salary(i.e non paye income)',
                    'PAYE',
                    'Combination of Drawings/Shareholder salary (i.e none paye income) and PAYE'
                ],
                businesses: [
                    'YES',
                    'NO'
                ],
                dropfulltimes: [
                    'Part Time',
                    'Full Time'
                ]
            }
        },
        methods: {
            fetchQuestion() {
                fetch('api/questions')
                .then(res => res.json())
                .then(res => {
                    this.questions = res.data;
                })
                .catch(err => console.log(err));
            },
            deleteQuestion(id){
                if(confirm('Are you sure?')) {
                    fetch(`api/question/${id}`, {
                        method: 'delete'
                    })
                    .then(res => res.json())
                    .then(data => {
                        alert('Sucessfully Removed!');
                        this.fetchQuestion();
                    })
                    .catch(err => console.log(err));
                }
            },
            editQuestion: function(question){
                this.question = question;
            },
            doEdit: function(question) {
                fetch('api/question', {
                    method: 'put',
                    body: JSON.stringify(this.question),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    alert('Updated!')
                    this.fetchQuestion();
                })
                .catch(err => console.log(err));
            },
            formSubmit: function(question) {
               fetch('api/question', {
                   method: 'post',
                   body: JSON.stringify(this.question),
                    headers: {
                        'content-type': 'application/json'
                    }
               })
               .then(res => res.json())
               .then(data => {
                   alert('Saved!')
                   this.fetchQuestion();
               })
               .catch(err => console.log(err));
            },
            exportPDF: function(question) {
                var vm = 'test'
                var doc = new jsPDF();
                doc.text(vm, 10,10)
                doc.save('sample.pdf')    
            }
        }
    }
</script>
