<template>
    <div class="container">
        <form class="m-5" @submit.prevent="formSubmit">
            <div class="form-group">
            <label for="dropdrawingpaye">Are you taking Drawings or Paye?</label>
                <select class="form-control" v-model='question.dropdrawingpaye'>
                    <option v-for='payedrawing in payedrawings'>{{ payedrawing }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="business">Been in business in more than 3 years</label>
                    <select class="form-control" v-model='question.business'>
                        <option v-for='business in businesses'>{{ business }}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="lengthofbusiness">How many years?</label>
                    <input v-model.number='question.lengthofbusiness' type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="dropfulltime">Working full time?</label>
                    <select v-model='question.dropfulltime' class="form-control" id="sel1">
                        <option v-for='dropfulltime in dropfulltimes'>{{ dropfulltime }}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="staffworking">How many staff do you have working for you?</label>
                    <input v-model.number='question.staffworking' type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="ontools">Now, Are you on tools?</label>
                    <input v-model="question.ontools" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="shareholdersnotontools">Is there any other shareholder/director that are not on the tools?</label>
                    <input v-model="question.shareholdersnotontools" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="anualbnessincome">How much income did you take out last year from the business?</label>
                    <input v-model.number="question.anualbnessincome" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Acccover">What ACC cover plan do you have?</label>
                    <input v-model="question.Acccover" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="paymentfrequency">Payment Frequency</label>
                    <input v-model.number="question.paymentfrequency" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="extracoveramount">Your nominated Cover Plus Extra cover amount</label>
                    <input v-model.number="question.extracoveramount" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </form>
    </div>
</template>

<script>
    export default {
        created() {
            console.log('Component mounted.')
        },
        data () {
            return {
                questions: [],
                question: {
                    dropdrawingpaye: "",
                    business: "",
                    lengthofbusiness: "",
                    dropfulltime: "",
                    staffworking: "",
                    ontools: "",
                    shareholdersnotontools: "",
                    anualbnessincome: "",
                    paymentfrequency: "",
                    Acccover: "",
                    extracoveramount: ""
                },
                payedrawings: [
                    'Drawiing/Shareholder salary(i.e non paye income)',
                    'PAYE',
                    'Combination of Drawings/Shareholder salary (i.e none paye income) and PAYE'
                ],
                businesses: [
                    'YES',
                    'NO'
                ],
                dropfulltimes: [
                    'Part Time',
                    'Full Time'
                ]
            }
        },
        methods: {
            formSubmit() {
               fetch('api/question', {
                   method: 'post',
                   body: JSON.stringify(this.question),
                    headers: {
                        'content-type': 'application/json'
                    }
               })
               .then(res => res.json())
               .then(data => {
                   alert('Saved!')
                   this.question.dropdrawingpaye = ''
                   this.question.business = ''
                   this.question.lengthofbusiness = ''
                   this.question.dropfulltime = ''
                   this.question.staffworking = ''
                   this.question.ontools = ''
                   this.question.shareholdersnotontools = ''
                   this.question.anualbnessincome = ''
                   this.question.paymentfrequency = ''
                   this.question.Acccover = ''
                   this.question.extracoveramount = ''
               })
               .catch(err => console.log(err));
            }
        }
    }
</script>
